<div class="terminal">
  <div class="header">
    <span class="red-dot"></span>
    <span class="yellow-dot"></span>
    <span class="green-dot"></span>
  </div>
  <div class="content">
    <p class="ascii-art">
      // ASCII art here
    </p>
    <p class="command">
      - <span class="directory">emmvs</span> <span class="git">git:(</span><span class="git-branch">main</span><span class="git">)</span> emmvs --info
    </p>
    <p class="output">
      Fetching contact and documentation details emmvs...
    </p>
    <!-- TODO: Add additional commands and outputs here -->
  </div>
</div>
